*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #5d4594;

}

.logo{
    color: #2F1764;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-weight: 600;
}

.nav-links{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    
}

.nav-links a{
    text-decoration: none;
    color: #2F1764;
    font-size: 14px;
    padding: 15px;
    

}
.nav-links li{
    list-style: none;
    display: block;
}

.nav-links li a:hover{
    /* background: #452C81; */
    background: #816EB0;
    border: solid 2px #452C81;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 2px;
    background-color: #2F1764;
    margin: 5px;
    
}

/* For Mobile UI */
@media screen and (max-width: 630px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        left: 0px;
        top: 8vh;
        height: 92vh;
        background: #5d4594;
        display: none;
        flex-direction: column;
        align-items: center;
        width: 40%;
        /* transform: translateX(100%);
        transition: transform 0.5s ease-in; */
    }
    .nav-links li{
        width: 100%;
        text-align: center;
        display: block;
    }
    .nav-links a{
        /* padding: 5px; */
        display: block;
        align-items: center;
    }

    /* For animation */
    /* .nav-links li{
        opacity: 0;
    } */

    .burger{
        display: block;
    }
    
}

.nav-active{
    /* transform: translateX(0%); */
    display: flex;
}

/* Animation of Side Bars */
/* @keyframes animateNavLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
} */

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}